colorama==0.4.6 ; python_full_version >= "3.12.10" and sys_platform == "win32"
flake8==7.3.0 ; python_full_version >= "3.12.10"
iniconfig==2.1.0 ; python_full_version >= "3.12.10"
mccabe==0.7.0 ; python_full_version >= "3.12.10"
packaging==25.0 ; python_full_version >= "3.12.10"
pluggy==1.6.0 ; python_full_version >= "3.12.10"
pycodestyle==2.14.0 ; python_full_version >= "3.12.10"
pyflakes==3.4.0 ; python_full_version >= "3.12.10"
pygments==2.19.2 ; python_full_version >= "3.12.10"
pytest==8.4.2 ; python_full_version >= "3.12.10"
tabulate==0.9.0 ; python_full_version >= "3.12.10"
